.cnx-user-breadcrumbs-cub {
    position: absolute;
    z-index: 2;
    padding-left: 20px;
    padding-top: 15px;
}

.cnx-user-breadcrumbs-cub span {
    color: var(--cnx-secondary-text);
    font-size: 0.95rem;
    cursor: pointer;
}

.cnx-user-breadcrumbs-cub span:hover {
    color: var(--cnx-secondary-text) !important;
}

.cnx-user-hint-crumb-cuhc {
    color: var(--cnx-hint-text) !important;
}
