.cnx-add-area-record-th-number-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cnx-add-area-record-th-number-link span {
  text-decoration: underline;
  font-size: 0.85rem;
  color: var(--cnx-text-decoration-underline);
}