.bg0 {
    background-color: aqua;
}
.bg1 {
    background-color: rgb(255, 0, 55);
}
.bg2 {
    background-color: rgb(75, 255, 135);
}
.bg3 {
    background-color: rgb(126, 13, 231);
}

.cnx-testr {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100% !important;
}