.cnx-text-decoration-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cnx-text-decoration-link span {
  text-decoration: underline;
  font-size: 0.85rem;
  color: var(--cnx-text-decoration-underline);
}

.cnx-events-type-color-container-cetcc {
  height: 16px;
  width: 60%;
}