.cnx-color-highlight-select-container-cfhsc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 100%;
}

.cnx-color-highlight-select-container-cfhsc button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 25px;
    width: 50px;
    border: solid 3px rgba(255, 255, 255, 0.815);
    border-radius: 1px;
}

.cnx-color-highlight-orange {
    background-color: #F0831B;
}

.cnx-color-highlight-red {
    background-color: #EA5733;
}

.cnx-color-highlight-blue {
    background-color: #72CAEB;
}

.cnx-color-highlight-green {
    background-color: #5AB579;
}

