.cnx-order-column-container-cocc {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 0;
  width: 300px;
  height: 100%;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--cnx-background-component);
  -webkit-box-shadow: -3px 0px 16px -2px rgba(0,0,0,0.44);
  box-shadow: -3px 0px 16px -2px rgba(0,0,0,0.44);
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
}

.dnd-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px var(--cnx-input-border);
  border-left: solid 1px var(--cnx-button-icon);
  border-radius: 4px;
  font-size: 16px;
  height: 35px;
  width: 100%;
  padding: 0px 10px 0px 10px;
  cursor: move;
  color: var(--cnx-secondary-text);
  transition: border-left 0.1s linear;
  background-color: var(--cnx-clear-button-hover);
}

.cnx-dnd-select-container-cdsc {
  display: flex;
  width: 100%;
}

.cnx-dnd-item-container-cdic {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: var(--cnx-button-icon);
}

.dnd-items:hover {
  border-left: solid 4px  var(--cnx-button-icon)
}

.d-none {
  display: none;
}

.cnx-btn-dnd-item-cbdi {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: var(--cnx-primary-text);
  border: 0;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
}

.cnx-btn-dnd-item-cbdi:hover {
  font-size: 16px;
  color: var(--cnx-primary-text);
}

.cnx-order-column-actions-coca {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--cnx-primary-text);
}

.cnx-btn-dnd-modal-cbdm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--cnx-input-icon);
  border: 0;
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.cnx-btn-dnd-modal-cbdm:hover {
  font-size: 20px;
  color: var(--cnx-input-icon);
}

.cnx-select-column-order-csc {
  height: 35px;
  width: 100%;
  border: solid 1px var(--cnx-input-border);
  border-radius: 4px;
  padding: 0px 8px 0px 8px;
  background-color: var(--cnx-input-background);
  color: var(--cnx-secondary-text);
}

.hover-drag {
  border-left: solid 4px var(--cnx-primary-orange);
}

.svg-arrows-up-down-solid-icon path {
  fill: var(--cnx-button-icon);
}
.svg-arrows-up-down-solid-icon {
  width: 16px;
  height: 16px;
}

.cnx-svg-xmark-icon-csxi path {
  fill: var(--cnx-button-icon);
}

.cnx-svg-xmark-icon-csxi:hover path {
  fill: var(--cnx-button-icon);
}

.cnx-svg-xmark-icon-csxi {
  width: 14px;
  height: 14px;
}

.cnx-svg-xmark-icon-csxi:hover {
  width: 16px;
  height: 16px;
}

.cnx-svg-xmark-modal-icon-csxmi path {
  fill: var(--cnx-button-icon);
}

.cnx-svg-xmark-modal-icon-csxmi:hover path {
  fill: var(--cnx-button-icon);
}

.cnx-svg-xmark-modal-icon-csxmi {
  width: 16px;
  height: 16px;
}

.cnx-svg-xmark-modal-icon-csxmi:hover {
  width: 18px;
  height: 18px;
}
