.cnx-turns-add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3px;
  width: 33px;
  height: 33px;
  border-radius: 3px;
  color: var(--cnx-secondary-text);
  background-color: var(--cnx-semi-transparent-button) !important;
  border: 1px solid var(--cnx-semi-transparent-border-button) !important;
  cursor: pointer;
}
.cnx-turns-add-button:hover {
  background-color: var(--cnx-semi-transparent-button-hover) !important;
}
